@model Person
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete this person</h1>

<h3> Are you sure to delete this person?</h3>
<dl>
    <dt>Namn</dt>
    <dd>@Model.Name</dd>

    <dt>Phonenumber</dt>
    <dd>@Model.PhoneNumber</dd>

    <dt>City</dt>
    <dd>@Model.City</dd>
</dl>
<br />
<td>@Html.ActionLink("Delete", "Delete", "People")</td>

<a asp-action="People">back</a>

